.role {
  text-align: center;
  display: table;
  margin: 0 auto;
  font-weight: bold;
  font-size: 18px;
}

.email {
  color: greenyellow;
  display: table;
  margin: 0 auto;
}

.center {
  display: table;
  margin: 0 auto;
}

.userName {
  text-align: center;
}

.logout {
  margin-top: 1rem;
  font-weight: bold;
}
